body{
  font-family: 'Droid Sans', 'Helvetica', Arial, sans-serif;
  margin:5px;
  background: #d8ff00;
}
#map{
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  -moz-box-shadow: 0px 5px 20px #ccc;
  -webkit-box-shadow: 0px 5px 20px #ccc;
  box-shadow: 0px 5px 20px #ccc;
}
#map.large{
  height:100%;
}

.col-md-3, .col-md-9{
    padding-left: 0px;
    padding-right: 0px;
}

.overlay{
  display:block;
  /*position: fixed;*/
  text-align:center;
  color: #d8ff00;
  font-size:60px;
  line-height:80px;
  opacity:1;
  background: #000000;
  border:solid 3px #336699;
  border-radius:4px;
  box-shadow:2px 2px 10px #333;
  text-shadow:1px 1px 1px #666;
  padding: 0px;
}
.overlay span{
    color: red;
    font-style: oblique;
}

.overlay_arrow{
  left:50%;
  margin-left:-16px;
  width:0;
  height:0;
  position:absolute;
}
.overlay_arrow.above{
  bottom:-15px;
  border-left:16px solid transparent;
  border-right:16px solid transparent;
  border-top:16px solid #336699;
}
.overlay_arrow.below{
  top:-15px;
  border-left:16px solid transparent;
  border-right:16px solid transparent;
  border-bottom:16px solid #336699;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  text-align: center;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  /*float: center;*/
  list-style: none;
}

footer ul li {
  /*float: center;*/
  margin-left: 15px;
}

#col-md-3 {
    padding: 0px;
}

#messages {
    width: 100%;
    background-color: yellowgreen;
    border-radius: 5px;
    padding: 10px;
}

#messages div {
  width: 100%;
  background-color: #d8ff00;
  margin-top: 5px;
  border-radius: 5px;
  border-color: black;
  border-width: 2px;
  border-style: solid;
}

p.user {
  background-color: black;
  font-weight: bold;
  color: white;
}

p.messagebody {
  text-align: justify;
  font-style: italic;
  /*background: #eaeaea;*/
}
/*
input[type=text]{
    margin-top: 10px;
    border-radius: 10px;
    background-color: #eaeaea;
    color:#000000;
}*/

input[type=text], input[type=url], input[type=email], input[type=password], input[type=tel] {
    -webkit-appearance: none; -moz-appearance: none;
    display: inline-block;
    margin: 0;
    /*width: 100%; */
    height: 40pt;
    line-height: 40pt; font-size: medium;
    border: 1px solid #bbb;
}